<div class="componente-principal-actual">
	<div class="head-page" *ngIf="identity">
		<label class="list-title">
			{{ titulo }} 
		</label>

		<div class="pagination right">
			<li>
				<button mat-mini-fab [routerLink]="['/all-albums', prev_page]"><mat-icon>chevron_left</mat-icon></button>
			</li>
			<li>
				<button mat-mini-fab [routerLink]="['/all-albums', next_page]"><mat-icon>chevron_right</mat-icon></button>
			</li>
		</div>
	</div>


	<div *ngIf="albums" class="row albums-row">
    	<div class="col xl2 l3 m4 s6" *ngFor="let album of albums" >
            
            <div class="card album-list" >
                <div class="card-image">
                    <img *ngIf="album.image != 'null'" class="image-artist" src="{{url + 'get-image-album/' + album.image}}">
                </div>
                <div class="card-content center-align">
                    <span class="card-title">
                        <a [routerLink]="['/album', album._id]" matTooltip="{{ album.title }}">
                            {{ album.title }}
                        </a>
                    </span>
                    <div class="album">
                        <p>
                            <a [routerLink]="['/artista', album.artist._id]">{{ album.artist.name }}</a>
                        </p>
                        <p>{{ album.description }}</p>
                        <p>{{ album.year }}</p>
                    </div>
                    <a class="btn-floating halfway-fab transparent z-depth-0" [routerLink]="['/editar-album', album._id]" *ngIf="identity.role =='ROLE_ADMIN'" id="right-button"
                    matTooltip="Editar">
                        <i class="material-icons purple-text text-darken-3">edit</i>
                    </a>
                    <a class="btn-floating halfway-fab transparent z-depth-0" (click)="onDeleteConfirm(album._id)" *ngIf="identity.role =='ROLE_ADMIN'" id="left-button" 
                    matTooltip="Eliminar">
                        <i class="material-icons red-text text-darken-3">delete</i>
                    </a>
                    <div class="panel-confirmacion" *ngIf="confirmado == album._id">
                        <label>¿Eliminar?</label>
                        <div class="center-align">
                            <button class="btn-small" *ngIf="identity.role =='ROLE_ADMIN'" (click)="onDeleteAlbum(album._id)">Si</button>
                            <button class="btn-small"  *ngIf="identity.role =='ROLE_ADMIN'" (click)="onCancelAlbum()">No</button>
                        </div>  
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
