<div class="componente-principal-actual">
    <div *ngIf="album" class="row" >
        <!-- INFORMACIÓN DEL ÁLBUM -->
        <div class="col xl4 l6 m8 s12 offset-l3 offset-m2 left">
            <div  class="card horizontal album-card">
                <div class="card-image">
                    <img src="{{url + 'get-image-album/' + album.image}}" >
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                    	<p class="card-title" *ngIf="identity.role =='ROLE_ADMIN'">
                            <a [routerLink]="['/editar-album', album._id]"> {{ album.title }} </a>
                        </p>
                        <p class="card-title" *ngIf="identity.role =='ROLE_USER' && album.artist">
                            {{ album.title }}
                        </p>
                        <p *ngIf="identity.role =='ROLE_ADMIN'">
                            <a [routerLink]="['/artista', album.artist._id]" >{{ album.artist.name }}</a>
                        </p>
                        <p *ngIf="identity.role =='ROLE_USER'">
                            {{ album.artist.name }}
                        </p>
                        <p>{{ album.description }}</p>
                        <p>{{ album.year }}</p>
                        
                    </div>
                </div>
            </div>
            <div class="center-align">
                <button [routerLink]="['/crear-cancion', album._id]" mat-raised-button color="primary"
                style="margin-top: 10px;" >Agregar canción</button>
            </div>
        </div>

        <!-- LISTADO DE CANCIONES -->
        <div *ngIf="songs && songs.length > 0">
            <div class="col xl8 l10 m12 s12 offset-l1" >
            
                <table class="" style="width: 100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>N°</th>
                            <th>Nombre</th>
                            <th>Duración</th>
                            <th *ngIf="identity.role =='ROLE_ADMIN'">Acción</th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let song of songs">
                        <tr>
                            <td class="button_play">
                                <a (click)="startPlayer(song)">
                                    <mat-icon>play_arrow</mat-icon>
                                </a>
                            </td>
                            <td>{{ song.number }}</td>
                            <td>{{ song.name }}</td>
                            <td>{{ song.duration }}</td>
                            <td *ngIf="identity.role =='ROLE_ADMIN'">
                                <a [routerLink]="['/editar-cancion', song._id]" 
                                matTooltip="Editar canción">
                                    <mat-icon color="primary">edit</mat-icon>
                                </a>
                                <a (click)="onDeleteConfirm(song._id)">
                                    <mat-icon color="warn">delete</mat-icon>
                                </a>
                                <div class="panel-confirmacion-cancion" *ngIf="confirmado == song._id">
                                    <p><strong>¿Eliminar?</strong></p>
                                    <button class="waves-effect waves-light btn-flat white-text" *ngIf="identity.role =='ROLE_ADMIN'" (click)="onDeleteSong(song._id)">Si</button>
                                    <button class="waves-effect waves-light btn-flat red-text text-darken-1" *ngIf="identity.role =='ROLE_ADMIN'" (click)="onCancelSong()">No</button> 
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
