<div class="componente-principal-actual">
    
    <div *ngIf="album" class="row" >
        <div class="row" style="margin: 8px 0 5px 0;">
            <div class="nav-wrapper">
                <div class="col s12 breadcrumbs">
                    <a [routerLink]="['/artistas', 1]"  class="breadcrumb">Artistas</a>
                    <a [routerLink]="['/artista', album.artist._id]" class="breadcrumb">
                        {{ album.artist.name }}
                    </a>
                </div>
            </div>
        </div>
        <!-- INFORMACIÓN DEL ÁLBUM -->
        <div class="col xl4 l6 m8 s12 offset-l3 offset-m2 left">
            <div  class="card horizontal album-card">
                <div class="card-image">
                    <img src="{{url + 'get-image-album/' + album.image}}" >
                </div>
                <p class="card-title" *ngIf="identity.role =='ROLE_USER' && album.artist">
                    {{ album.title }}
                </p>
                <p class="card-title" *ngIf="identity.role =='ROLE_ADMIN'">
                    <a [routerLink]="['/editar-album', album._id]" 
                    matTooltip="{{album.title}}"> 
                        {{ album.title }} 
                    </a>
                </p>
                <div class="card-stacked">
                    <div class="card-content">
                        <div>
                            <p *ngIf="identity.role =='ROLE_ADMIN'">
                                <a [routerLink]="['/artista', album.artist._id]" >{{ album.artist.name }}</a>
                            </p>
                            <p *ngIf="identity.role =='ROLE_USER'">
                                {{ album.artist.name }}
                            </p>
                            <p>{{ album.description }}</p>
                            <p>{{ album.year }}</p>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="center-align">
                <button [routerLink]="['/crear-cancion', album._id]" mat-raised-button 
                color="primary" style="margin-top: 10px;" >
                    Agregar canción
                </button>
                <br><br>
                <button mat-stroked-button color="basic" (click)="addAlbumToQueue()">
                    Reproducir álbum
                </button>
            </div>
        </div>

        <!-- LISTADO DE CANCIONES -->
        <div *ngIf="songs && songs.length > 0">
            <div class="col xl8 l10 m12 s12 offset-l1" >
            
                <table class="" style="width: 100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>N°</th>
                            <th>Nombre</th>
                            <th class="center-align">Duración</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let song of songs; let i = index">
                        <tr>
                            <td class="button_play">
                                <a (click)="startPlayer(song)">
                                    <mat-icon>play_arrow</mat-icon>
                                </a>
                            </td>
                            <td>{{ i+1 }}</td>
                            <td>{{ song.name }}</td>
                            <td class="center-align">{{ song.duration }}</td>
                            <td style="width: 40px">
                                <button mat-mini-fab [matMenuTriggerFor]="menu" 
                                class="transparent z-depth-0">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item [routerLink]="['/editar-cancion', song._id]">
                                        Editar canción
                                    </button>
                                    <button mat-menu-item *ngIf="identity.role == 'ROLE_ADMIN'"
                                    (click)="onDeleteConfirm(song._id)" >
                                        Eliminar canción
                                    </button>

                                    <button mat-menu-item [matMenuTriggerFor]="playlistsMenu" >
                                        Agregar a playlist
                                    </button>                                    
                                    <mat-menu #playlistsMenu="matMenu">
                                        <button mat-menu-item *ngFor="let playlist of playlists"
                                        (click)="addSongToPlaylist(playlist._id, song)">
                                            {{ playlist.title }}
                                        </button>
                                    </mat-menu>

                                </mat-menu>
                                <div class="panel-confirmacion-cancion" *ngIf="confirmado == song._id">
                                    <p><strong>¿Eliminar?</strong></p>
                                    <button class="waves-effect waves-light btn-flat white-text" *ngIf="identity.role =='ROLE_ADMIN'" 
                                    (click)="onDeleteSong(song._id)">Si</button>
                                    <button class="waves-effect waves-light btn-flat red-text text-darken-1" *ngIf="identity.role =='ROLE_ADMIN'" (click)="onCancelSong()">No</button> 
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
