<div class="componente-principal-actual">
    <div *ngIf="artist" class="row">
    	<div class="row" style="margin: 8px 0 5px 0;">
            <div class="nav-wrapper">
                <div class="col s12 breadcrumbs">
                    <button mat-mini-fab  [routerLink]="['/artistas', 1]">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{url + 'get-image-artist/' + artist.image}}" >
            </div>
            <div class="card-stacked">
                <div class="card-content">
                	<p class="card-title">
                        <a [routerLink]="['/editar-artista', artist._id]">{{ artist.name }}</a>
                    </p>
                    <p>{{ artist.description }}</p>
                </div>
            </div>
        </div>
        
    	<button mat-flat-button [routerLink]="['/crear-album', artist._id]" 
    	*ngIf="identity.role =='ROLE_ADMIN'" style="margin: 0px 10px 10px 0px;">
    		<mat-icon aria-label="album">edit</mat-icon>
    		Añadir álbum
    	</button>
    </div>

    <div *ngIf="artist && albums" class="row">
    	<div class="col xl2 l3 m4 s6" *ngFor="let album of albums" style="padding-bottom: 35px;">
            
            <div class="card album-list" >
                <div class="card-image">
                    <img *ngIf="album.image != 'null'" class="image-artist" src="{{url + 'get-image-album/' + album.image}}">
                </div>
                <div class="card-content center-align">
                    <span class="card-title flow-text">
                        <a [routerLink]="['/album', album._id]">
                            {{ album.title }}
                        </a>
                    </span>
                    <div class="album">
                        <p>{{ album.description }}</p>
                        <p>{{ album.year }}</p>
                    </div>
                    <a class="btn-floating halfway-fab transparent z-depth-0" [routerLink]="['/editar-album', album._id]" *ngIf="identity.role =='ROLE_ADMIN'" id="right-button"
                    matTooltip="Editar">
                        <i class="material-icons purple-text text-darken-3">edit</i>
                    </a>
                    <a class="btn-floating halfway-fab transparent z-depth-0" (click)="onDeleteConfirm(album._id)" *ngIf="identity.role =='ROLE_ADMIN'" id="left-button">
                        <i class="material-icons red-text text-darken-3">delete</i>
                    </a>
                    <div class="panel-confirmacion" *ngIf="confirmado == album._id">
                        <label>¿Eliminar?</label>
                        <div class="center-align">
                            <button mat-button color="primary" *ngIf="identity.role =='ROLE_ADMIN'" (click)="onDeleteAlbum(album._id)">Si</button>
                            <button mat-button *ngIf="identity.role =='ROLE_ADMIN'" (click)="onCancelAlbum()">No</button>
                        </div>  
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>