<div class="row">
  
  <div class="col xl2 l3 m4 s6">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Solar</mat-card-title>
        <mat-card-subtitle>Maceo Plex</mat-card-subtitle>
      </mat-card-title-group>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button>Escuchar</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col xl2 l3 m4 s6">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Late Night</mat-card-title>
        <mat-card-subtitle>Solomun</mat-card-subtitle>
      </mat-card-title-group>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button>Escuchar</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col xl2 l3 m4 s6">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Stories</mat-card-title>
        <mat-card-subtitle>Avicii</mat-card-subtitle>
      </mat-card-title-group>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button>Escuchar</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col xl2 l3 m4 s6">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Signos</mat-card-title>
        <mat-card-subtitle>Soda Stereo</mat-card-subtitle>
      </mat-card-title-group>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button>Escuchar</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>