<div class="componente-principal-actual center-align">

	<!-- OCULTO -->
	<form id="filter" hidden>
	    <input id="term-search" type="text">
	    <button id="button-search" (click)="changeTerm()"></button>
	</form>

	<h5 *ngIf="termi && termi != ''"><em>Resultados para: {{ termi }}</em></h5>

	<!-- CANCIONES -->
    <hr>
    <h5> Canciones </h5>
    <div class="container" *ngIf="songs && songs.length > 0">
        <div class="col xl8 l10 m12 s12 offset-l1" >
            
            <table id="songs-table" style="width: 100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Artista</th>
                        <th class="center-align">Duración</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="songs-id" *ngFor="let song of songs | filter:termi; let i = index">
                    <tr>
                        <td class="button_play">
                            <a (click)="startPlayer(song)">
                                <mat-icon>play_arrow</mat-icon>
                            </a>
                        </td>
                        <td>{{ i+1 }}</td>
                        <td>{{ song.name }}</td>
                        <td>{{ song.album.artist.name }}</td>
                        <td class="center-align">{{ song.duration }}</td>
                        <td style="width: 40px">
                            <button mat-mini-fab [matMenuTriggerFor]="menu" 
                            class="transparent z-depth-0">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                
                                <button mat-menu-item [routerLink]="['/editar-cancion', song._id]">
                                    Editar canción
                                </button>
                                <button mat-menu-item [matMenuTriggerFor]="playlistsMenu" >
                                    Agregar a playlist
                                </button>                                    
                                <mat-menu #playlistsMenu="matMenu">
                                    <button mat-menu-item *ngFor="let playlist of playlists"
                                    (click)="addSongToPlaylist(playlist._id, song)">
                                        {{ playlist.title }}
                                    </button>
                                </mat-menu>

                            </mat-menu>
                            
                        </td>
                    </tr>
                </tbody>
            </table>

            <h6 class="grey-text" id="empty-songs" hidden>
                <em>No hay más canciones para esta búsqueda</em>
            </h6> 

        </div>
    </div>
        

	<!-- ARTISTAS -->
    <hr>
	<h5> Artistas </h5>
    <div *ngIf="artists" class="row albums-row">
		
		<div id="artists-id" class="col xl2 l3 m4 s6" *ngFor="let artist of artists | filter:termi;" >
	        
	        <div class="card" >
	            <div class="card-image">
	                <img *ngIf="artist.image != 'null'" class="image-artist" src="{{url + 'get-image-artist/' + artist.image}}">
	            </div>
	            <div class="card-content center-align">
	                <span class="card-title">
	                    <a [routerLink]="['/artista', artist._id]" matTooltip="{{ artist.name }}">
	                        {{ artist.name }}
	                    </a>
	                </span>
	                <div class="album">
	                    <p>{{ artist.description }}</p>
	                </div>
	                
	            </div>
	        </div>
	    </div>

        <h6 class="grey-text" id="empty-artists" hidden>
            <em>No hay más artistas para esta búsqueda</em>
        </h6>  

	</div>


	<!-- ALBUMS -->
    <hr>
    <h5 style="padding-bottom: 25px;"> Álbums </h5>
	<div *ngIf="albums" class="row albums-row">
		
    	<div id="albums-id" class="col xl2 l3 m4 s6" *ngFor="let album of albums | filter:termi" >
            
            <div class="card album-list" >
                <div class="card-image">
                    <img *ngIf="album.image != 'null'" class="image-artist" src="{{url + 'get-image-album/' + album.image}}">
                    <button class="flotante z-depth-0" mat-mini-fab matTooltip="reproducir álbum"
                    (click)="getAndPlayAlbum(album._id)">
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                </div>
                <div class="card-content center-align">
                    <span class="card-title">
                        <a [routerLink]="['/album', album._id]" matTooltip="{{ album.title }}">
                            {{ album.title }}
                        </a>
                    </span>
                    <div class="album">
                        <p>
                            <a [routerLink]="['/artista', album.artist._id]">{{ album.artist.name }}</a>
                        </p>
                        <p>{{ album.description }}</p>
                        <p>{{ album.year }}</p>
                    </div>
                    <a class="btn-floating halfway-fab transparent z-depth-0" [routerLink]="['/editar-album', album._id]" *ngIf="identity.role =='ROLE_ADMIN'" id="right-button"
                    matTooltip="Editar">
                        <i class="material-icons purple-text text-darken-3">edit</i>
                    </a>
                    <a class="btn-floating halfway-fab transparent z-depth-0" (click)="onDeleteConfirm(album._id)" *ngIf="identity.role =='ROLE_ADMIN'" id="left-button" 
                    matTooltip="Eliminar">
                        <i class="material-icons red-text text-darken-3">delete</i>
                    </a>
                    <div class="panel-confirmacion" *ngIf="confirmado == album._id">
                        <label>¿Eliminar?</label>
                        <div class="center-align">
                            <button class="btn-small" *ngIf="identity.role =='ROLE_ADMIN'" (click)="onDeleteAlbum(album._id)">Si</button>
                            <button class="btn-small"  *ngIf="identity.role =='ROLE_ADMIN'" (click)="onCancelAlbum()">No</button>
                        </div>  
                    </div>
                </div>
            </div>

        </div>

        <h6 class="grey-text" id="empty-albums" hidden>
            <em>No hay más álbums para esta búsqueda</em>
        </h6>         

    </div>
    
    

</div>