<div class="componente-principal-actual" *ngIf="identity.role == 'ROLE_ADMIN'">
	<h4 class="center-align"> {{ titulo }} </h4>
	<!--<p class="center-align"><em>Álbum: {{ album.title }}</em> </p>-->
	<br>
	<form #formSong="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
		
		<div class="row">
			<div class="col l4 m6 s12 offset-l4 offset-m3">

				<div class="input-field" >
			        <label class="active" for="number">Número</label>
			        <input #number="ngModel" [(ngModel)]="song.number" name="number" type="number" 
			        class="validate" id="number" required placeholder="Número" />
			        <span class="helper-text" data-error="El número es obligatorio"></span>
			    </div>

				<div class="input-field" >
			        <label class="active" for="title">Título</label>
			        <input #name="ngModel" [(ngModel)]="song.name" name="name" type="text" 
			        class="validate" id="name" required placeholder="Título" />
			        <span class="helper-text" data-error="El título es obligatorio"></span>
			    </div>

				<div class="input-field" >
			        <label class="active" for="duration">Duración</label>
			        <input #duration="ngModel" [(ngModel)]="song.duration" name="duration" type="text"
			        class="validate" id="duration" required placeholder="Duración" />
			        <span class="helper-text" data-error="La duración es obligatoria"></span>
			    </div>

		        <div class="file-field input-field">
		            <div class="btn-small grey darken-3">
		                <i class="material-icons">folder</i>
		                <input name="file" type="file" class="form-control" id="file" 
		                (change)="fileChangeEvent($event)" />    
		            </div>
		            <div class="file-path-wrapper">
		                <input class="file-path" type="text" placeholder="Sube un archivo de audio">
		            </div>
		        </div>

				<vg-player style="height: 50px;" *ngIf="song.file && song.file != 'null'">
				    <vg-controls>
				        <vg-play-pause></vg-play-pause>
				        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
				        <vg-scrub-bar [vgSlider]="true">
				            <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
				            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
				        </vg-scrub-bar>
				        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
				        <!--<vg-volume [vgFor]="myAudio"></vg-volume>-->
				        <vg-mute></vg-mute>
				    </vg-controls>

				    <audio #media [vgMedia]="media" id="myAudio" preload="auto">
				        <source [src]="audiosrc" type="audio/mpeg">
				    </audio>
				</vg-player>

			</div>
		</div>

	    <div class="row center-align">
	    	<button mat-raised-button color="primary" value="{{titulo}}" type="submit" 
	    	[disabled]="!formSong.form.valid" >
	        	Crear canción
	    	</button>
		</div>

		
	</form>

</div>