<div class="container-fluid">
    
    <h4 class="centrar"> {{ titulo }} </h4>

    <form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate >
         
        <div class="row centrar">       

            <div class="col s12 m6 l4 offset-l2">            
                <div class="input-field with-icon" >
                    <label class="active" for="name">Nombre</label>
                    <i class="material-icons myform">person</i>
                    <input #name="ngModel" [(ngModel)]="user.name" name="name" type="text" 
                    class="validate with-icon" id="name" required placeholder="Nombre" />
                    <span class="helper-text" data-error="El nombre es obligatorio"></span>
                </div>
                
                <div class="input-field with-icon">
                    <label class="active" for="lastname">Apellido</label>
                    <i class="material-icons myform">person</i>
                    <input #lastname="ngModel" [(ngModel)]="user.lastname" name="lastname" type="text" id="lastname" required class="validate" placeholder="Apellido" />
                    <span class="helper-text" data-error="El apellido es obligatorio"></span>
                </div>
                
                <div class="input-field with-icon">
                    <label class="active" for="email">Email</label>
                    <i class="material-icons myform">email</i>
                    <input #email="ngModel" [(ngModel)]="user.email" name="email" type="email" class="form-control validate" id="email" required placeholder="Email" />
                    <span class="helper-text" data-error="El email no es válido" ></span>
                </div>
            </div>

            <!-- IMAGEN -->
            <div class="col s12 m6 l4">
                <div class="file-field input-field">
                    <div class="btn-small grey darken-3">
                        <i class="material-icons">folder</i>
                        <input name="image" type="file" class="form-control validate" id="image" 
                        (change)="fileChangeEvent($event)" />    
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Elige una imagen">
                    </div>
                </div>

                <div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
                    <img  src="{{url + 'get-image-user/' + user.image}}" width="150" 
                    class="materialboxed center-block" materialize="materialbox" />
                </div>
            </div>
        </div>

        <div class="row centrar">
            <div class="col-md-2">    
                <button mat-flat-button type="submit">Guardar cambios</button>
            </div>
        </div>
        
    </form>

</div>