/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';


body{
    background-color: #191919FF;
}

.brand-logo {
    height: 64px;
}

.infoNav {
    height: 30px;
    line-height: 30px;
}

.logo {
    padding-left: 15px; 
    padding-right: 20px; 
    margin-top: 14px
}

h3 {
	color: #FAFAFA;
}

h4 {
	color: #FAFAFA;
}

h5 {
	color: #FAFAFA;
}

input {
	color: #ffffff;
}

@media all and (min-width: 600px) {
    .nav-wrapper a {
        margin-top: 5px;
        margin-left: 5px;    
    }
}

@media all and (max-width: 600px) {
    .nav-wrapper a {
        margin-top: 2px;
    }
}

header, main, footer, body {
    padding-left: 0px;
}

@media only screen and (max-width : 992px) {
    header, main, footer, body {
        padding-left: 0;
    }
}

.sidenav .user-view{
    padding-top: 14px;
}

.file-field .fa {
    font-size: 20px;
}

.avatar{
    width: 100%;
    height: auto;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
 }

 .landscape .avatar{ 
    width: auto;
    height: 100%;
 }

 .potrait .avatar{ 
    width: 100%;
    height: auto;
 }

 .image_cover{ 
    width:70px; 
    height:70px; 
    border-radius:100%; 
    overflow:hidden;  
    margin: 7px 0 0 5px;
    border: 3px solid #101010FF;
 }

 .formulario {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

.seven-width {
  width: 75%;
}

.green-snackbar {
    background-color: #00550BFF;
    color: #BDFFBFFF;    
}

.green-snackbar .mat-simple-snackbar{
    justify-content: center;
}

.sidenav {
    width: 250px;
    background-color: #111111FF;
}

.transparent {
    background-color: transparent;
}

.principal .main-content .flotante {
    margin-top: 20px;
    float: left; 
}

button.flotante  {
    margin-top: 15px;
    margin-left: 5px;
}

.avatar{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
 }

 .landscape .avatar{ 
    width: auto;
    height: 100%;
 }

 .potrait .avatar{ 
    width: 100%;
    height: auto;
 }

 .image_cover{ 
    width:50px; 
    height:50px; 
    border-radius:50%; 
    overflow:hidden;  
    float: left;
    margin-right: 10px;
}

.pointer {
    cursor: pointer;
}

mat-card-title span {
    font-size: 20px;
}

.sidenav mat-card {
    background-color: #30083B
}

.principal {
    background-color: transparent;
}

mat-card.mat-card {
    padding: 10px 8px 6px 8px;
}