.card.horizontal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  border-left: 4px solid $background-color;
  background-color: darken( $background-color-dark, 3% );
  .card-image {
    margin-left: 10px;
    img {
      object-fit: cover;
      min-height: 140px;
      max-height: 180px;
      width: auto;
      margin-bottom: 0;
    }
  }
  .card-stacked {
    .card-content {
      padding: 15px 5px 0 15px;
      .card-title {
        font-size: 35px;
      }
    }
  }
}

.mat-card {
  font-family: "Montserrat", sans-serif;
  background-color: lighten($background-color-dark,5%);
  text-align: center;
  justify-content: center;
  mat-card-title {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 200px;
  }
  &.album-card {
    padding: 0px 20px -10px 20px;
    text-align: center;
      justify-content: center;
    mat-card-title {
      text-align: center;
      justify-content: center;
      line-height: 1; 
      margin-bottom: 4px; 
      a {
        font-size: 20px;
      }
    }
    .mat-card-actions {
      margin-bottom: 0px;
      padding: 0px; 
      position: fixed;
    }
  }
  .mat-card-actions {
    button{
      margin-left: 8px;
      margin-right: 8px;
    }
    .panel-confirmacion {
      margin-top: -60px;
      padding-bottom: 7px;
      margin-left: 10px;
      position: absolute;
      background-color: $background-color-dark;
    }
  }
}

mat-card {
  padding: 10px 8px 6px 8px;
  mat-card-title span {
    font-size: 20px;
  }
  .image-artist {
    height: 200px;
    object-fit: cover;
  }
}

.card {
  .card-image {
    img {
      object-fit: cover;
      margin-bottom: -20px;
    }
    a {
      z-index: 20;
      bottom: 0;
    }
  }
  .card-content {
    background-color: darken($background-color-dark,2%);
    border-radius: 0;
    padding: 15px 0 5px 0;
    position: relative;
    z-index: 10;
    .card-title {
      white-space: nowrap;
      overflow: hidden; 
      text-overflow: ellipsis; 
      max-width: 200px;
      font-size: 16px;
      padding-right: 5px;
      padding-left: 5px;
      a {
        font-weight: 600;
        &:hover {
          color: $primary-color;
          border-bottom: 1px solid $primary-color;
        }
      }
    }
    .album {
      font-size: 13px;
      a:hover {
        color: $primary-color;
        border-bottom: 1px solid $primary-color; 
      }
    }
  }
  // HORIZONTAL CARD
  &.horizontal.album-card {
    .card-image {
      margin-left: 10px;
      img {
        object-fit: cover;
        min-height: 120px;
        max-height: 140px;
        margin-bottom: 0;
        width: auto;
      }
    }
    .card-content {
      .card-title {
        padding-left: 0;
        font-size: 22px;
      }
    }  
  }
}

.mat-tooltip {
  background-color: black;
  font-size: 13px;
}