.nav-wrapper a {
	@media all and (min-width: 600px) {
        margin-top: 5px;
        margin-left: 5px;    
	}
	@media all and (max-width: 600px) {
	    margin-top: 2px;
	}
}

.sidenav {
	font-family: "Montserrat", sans-serif;
    width: 250px;
    background-color: darken($background-color-dark, 3%);
    .profile_card{
    	padding: 14px 10px 14px 10px;
	}
	mat-card {
    	background-color: $primary-color-dark;
	}
}

.brand-logo {
    height: 64px;
}

.actived mat-list-item {
	background-color: darken($primary-color-dark, 13%);
	border-bottom: 2px solid $primary-color-dark;
}

.background-color-dark {
	background-color: darken($background-color-dark, 3%);
}