

.sidenav {
	font-family: "Montserrat", sans-serif;
    width: 250px;
    background-color: darken($background-color-dark, 3%);
    .profile_card{
    	padding: 14px 10px 14px 10px;
    	border-bottom-left-radius: 40px;
	}
	mat-card {
    	background-color: $primary-color-dark;
	}
}

nav {
	height: 50px;
	line-height: 50px;
	.nav-wrapper {
		a {
		    margin-left: 3px; 
		    margin-top: 3px;    
		}
		i {
			height: 50px;
			line-height: 50px;
		}
		button {
		    @media all and (max-width: 996px) {
		      margin-left: 10px; 
		    }
		    @media all and (min-width: 996px) {
		      margin-left: 65px;   
		    }
		}
	} 
	.brand-logo {
    	height: 47px;
	}
}

.actived mat-list-item {
	background-color: darken($primary-color-dark, 13%);
	border-bottom: 2px solid $primary-color-dark;
}

.background-color-dark {
	background-color: darken($background-color-dark, 3%);
}
