@mixin background-clip($arg) {
	-webkit-background-clip: $arg;
	-moz-background-clip: padding;
	background-clip: $arg;
}

@mixin background-gradient($arg) {
	background: -moz-linear-gradient($arg);
    background: -webkit-linear-gradient($arg);
    background: $arg;    
}