// Materialize sass
@import '~@angular/material/prebuilt-themes/purple-green.css';

// Materialize
@import "componentes";

// Estilos propios
@import "mixins";
@import "signin";
@import "colores";
@import "menus";
@import "avatar";
@import "cards";
@import "forms";
@import "audio-player";
@import "tables";
@import "snackbars";

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: $background-color-dark;
}

a, input, h3, h4, h5, textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
	color: $text-color;
}

header, main, footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.componente-principal-actual {
  padding-bottom: 230px;
  padding-left: 5px;
}

.primary {
	background-color: $primary-color-dark;
}

.head-page {
  padding: 10px 10px 2px 10px;
  text-align: center;
  a {
    float: left;
    margin-top: 13px;
  }
  .list-title {
    font-size: 40px;
    color: $text-color;
  }
}

.logo {
  padding-left: 15px; 
  padding-right: 20px; 
  margin-top: 14px
} 

.file-field .fa {
    font-size: 20px;
}

.transparent {
    background-color: transparent;
}

.principal {
  background-color: transparent;
	.main-content { 
		.flotante {
		    margin: 100px;
		    float: left; 
		}
	}
}

button.flotante {
  margin: 10px;
}

button.mat-mini-fab.mat-accent {
  background-color: $primary-color;
  color: $text-color;
}

.pointer {
    cursor: pointer;
}

.row {
  &.albums-row {
    text-align: center;
    .col {
      display: inline-block;
      float: none;
    }
  }
  .entity-card {
    width: 100%;
    height: auto;
    margin: 5px 0px 5px 0px;
  }
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.pagination {
  width: 88px;
  margin-right: 5px;
  margin-top: 10px;
  li {
    height: 40px;
    mat-icon {
      color: $background-color-very-dark;
    } 
  }
}

.mat-drawer-content {
  min-height: 120%;
}
