body{
    background-color: #141414FF;
}

.infoNav {
    height: 35px;
    line-height: 35px;
}

.logo {
    padding-left: 15px; 
    padding-right: 20px; 
    margin-top: 14px
}

.sinPadding {
    padding: 0px;
}

.card .card-content {
    margin: 0 auto;
}
